/* * {
  font-family: "Patrick Hand", "Patrick Hand SC", sans-serif;
 } */

 :root {
  --background: #8a2be2;
  --stress_letter: #47e990;
  --card_font: #000;
  --card_font_dimmed: #000;
}

html {
  /* So that the scrollbar doesn't shift the webpage*/
  overflow-y: scroll; 
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

.r_container {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.r_font {
  /* font-family: "Patrick Hand",   sans-serif; */
  font-family: inherit;
}

.r_devider {
  min-height: 1em;
  max-width: 99%;
  min-width: 0;
  margin: 0 auto;
  text-align: center;
}

.search_bar {
  max-width: 70vw;
  width: 20em;
  margin-right: 0.3em;
}

.search_bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: black;
}

header {
  max-width: 99%;
  width: 40em;
  margin: 0 auto;
}

main {
  width: 90vw;
  margin: 0.1em auto 10vw;
  justify-content: center
}

.r_center_form {
  max-width: 100vw;
  min-width: 0;
  display: flex;
  flex-direction: row;  
  justify-content: center
}

.r_word_container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: flex-start;
}

footer {
  max-width: 45em;
  width: auto;
  margin: auto auto 0;
}

footer p, 
.r_loading h2, 
.r_rhyme_box div b {
  color: #ff9;
}

.r_outline,
.r_pick_a_letter td b,
.r_loading h2, 
.r_rhyme_box div b {
  text-shadow: 
  0.02em 0.02em #000,
  -0.02em 0.02em #000,
  0.02em -0.02em #000,
  -0.02em -0.02em #000,
  0px 0.02em #000,
  0px -0.02em #000,
  0.02em 0px #000,
  -0.02em 0px #000;
}

.r_fat_outline,
footer p {
  text-shadow: 1px 1px 2px #000,
  -1px 1px 2px #000,
  1px -1px 2px #000,
  -1px -1px 2px #000,
  0px 1px 2px #000,
  0px -1px 2px #000,
  1px 0px 2px #000,
  -1px 0px 2px #000;
}

.r_fat_outline {
  font-size: 1.1em;
}

.r_pick_a_letter {
  font-size: 3em !important;
}

.r_pick_a_letter td b {
  color:var(--stress_letter);
}

@keyframes logoAnim {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25) rotate(735deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes logoTouch {
  0% {
    animation: 300ms ease-out 0s 1;
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#R, #I, #M, #U, #O, #K, #dot, #L, #T {
  transform-origin: center center;
  transform-box: fill-box;
}

.wiggle {
  animation: logoTouch 250ms ease-out 0s 1;
}

.logo_init {
  animation: logoAnim 0.9s ease-out 1;
}

.r_card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 99vw;
  min-width: 0;
  margin: 0 auto;
  color: #000 ;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #333;
}

.r_card_body {
  flex: 1 1 auto;
  padding: 1rem;
}

.r_rhyme_box {
  font-size: 1.5rem !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.r_filterbox {
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content:center;
}

.r_filter_button {
  font-family: inherit;
  font-size: 1.3em;
  padding: 0 0;
  border: none;
  background: none;
}

hr {
  margin: 0.2em 0;
  border: 1px solid #666;
  opacity: 1;
}

.r_filterbox div{
  margin-right: 1.5em;
}

.r_rhyme_box div {
  box-sizing: border-box;
  font-size: 1.1em;
  padding: 0.3em;
  min-width: 11rem;
}

.r_rhyme_box div b {
  color: var(--stress_letter);
}

.r_rhyme_box_devider {
  height: 3.5em;
  width: 50%;
  margin: 0 auto;
}

details summary::-webkit-details-marker {
  display:none;
}

@media screen and (max-width: 900px) {
  .logo_block {
    padding: 0 auto;
  }
  main {
    width: 100%;
  }
  .r_rhyme_box div {
    min-width: 7rem;
  }
}

.r_loading {
  text-align: center;
}