/* * {
  font-family: "Patrick Hand", "Patrick Hand SC", sans-serif;
 } */

 :root {
  --logo_light: #ff9;
  --logo_dark: #cc3;
  --logo_edge: #000;
  --div_edge: #000;
  --div_plane: #fff;
  --div_font: #000;
  --div_font_hover: #333;
  --r_background: #8a2be2;
  --r_bg_shadow: #000;
  --r_invert_black: 0%;
  --stress_letter: #47e990;
  --stress_letter_dark: #298653;
}

.r_dark_theme {
  --logo_light: #a2a25a;
  --logo_dark: #393900;
  --logo_edge: #000;
  --div_edge: #ddd;
  --div_plane: #000;
  --div_font: #ddd;
  --div_font_hover: #cccc;
  --r_background: #000;
  --r_bg_shadow: #000;
  --r_invert_black: 100%;
  --stress_letter: #8a2be2;
  --stress_letter_dark: #298653;
}

.r_theme_btn {
  overflow: hidden;
  margin: 0 0 0 0.4rem;
  max-width: 2rem;
  height: 2rem;
  background-color: #000;
  padding: 0.1em;
  border: none;
  width: auto;
}

.r_theme_btn img {
  width: 100%;
  height: auto;
}

html {
  /* So that the scrollbar doesn't shift the webpage*/
  overflow-y: scroll; 
  /* overflow-y: auto; */
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--r_background);
}

h6, h5, h4, h3, h2, h1, a {
  color: var(--div_font);
}

a:hover {
  color: var(--div_font_hover);
}

.r_container {
  min-height: 100svh;
  max-width: 100svw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--r_background);
}

.r_font {
  /* font-family: "Patrick Hand",   sans-serif; */
  font-family: inherit;
}

.r_devider {
  min-height: 1rem;
  max-width: 99%;
  min-width: 0;
  margin: 0 auto;
  text-align: center;
}

.search_bar {
  max-width: 70svw;
  width: 20em;
  margin-right: 0.3rem;
}

.search_bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: black;
}

.search_bar input {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  display: block;
  width: 100%;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.5;
  color: #000;
}

header {
  max-width: 99%;
  width: 40rem;
  margin: 0 auto;
}

main {
  width: 90svw;
  margin: 0.1rem auto 0;
  justify-content: center;
}

.r_center_form {
  max-width: 100svw;
  min-width: 0;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: none;
}

.r_word_container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: flex-start;
}

footer {
  text-align: center;
  max-width: 45rem;
  width: 100%;
  margin: auto auto 0;
}

footer p, 
.r_loading h2, 
.r_rhyme_box div b {
  color: var(--logo_light);
}

.r_container nav,
footer nav {
  margin-top: 0.4rem;
  padding: 0.1rem 0.4rem;
  background-color: #000;
}

.r_container nav *,
footer nav * {
  display: inline;
  color: #fff;
}

.r_container nav {
  margin: 0 auto 0.5rem;
}

.r_outline,
.r_pick_a_letter td b,
.r_loading h2, 
.r_rhyme_box div b {
  text-shadow: 
  0.02em 0.02em var(--r_bg_shadow),
  -0.02em 0.02em var(--r_bg_shadow),
  0.02em -0.02em var(--r_bg_shadow),
  -0.02em -0.02em var(--r_bg_shadow),
  0px 0.02em var(--r_bg_shadow),
  0px -0.02em var(--r_bg_shadow),
  0.02em 0px var(--r_bg_shadow),
  -0.02em 0px var(--r_bg_shadow);
}

.r_fat_outline,
footer p {
  text-shadow: 1px 1px 2px var(--r_bg_shadow),
  -1px 1px 2px var(--r_bg_shadow),
  1px -1px 2px var(--r_bg_shadow),
  -1px -1px 2px var(--r_bg_shadow),
  0px 1px 2px var(--r_bg_shadow),
  0px -1px 2px var(--r_bg_shadow),
  1px 0px 2px var(--r_bg_shadow),
  -1px 0px 2px var(--r_bg_shadow);
}

.r_fat_outline {
  font-size: 1.1rem;
}

.r_pick_a_letter {
  font-size: 3rem !important;
}

.r_pick_a_letter td b {
  color:var(--stress_letter);
}

@keyframes logoAnim {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25) rotate(735deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes logoTouch {
  0% {
    animation: 300ms ease-out 0s 1;
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#R, #I, #M, #U, #O, #K, #dot, #L, #T {
  transform-origin: center center;
  transform-box: fill-box;
}

.wiggle {
  animation: logoTouch 250ms ease-out 0s 1;
}

.logo_init {
  animation: logoAnim 0.9s ease-out 1;
}

.r_card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 99svw;
  min-width: 0;
  margin: 0 auto;
  color: var(--div_font);
  word-wrap: break-word;
  background-color: var(--div_plane) !important;
  background-clip: border-box;
  border: 2px solid var(--div_edge) !important;
}

.r_card_body {
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--div_font);
}

.r_card_title {
  margin-bottom: 0.5rem;
  color: var(--div_font);
}

.r_article {
  width: 1152px;
}

.r_rhyme_box {
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.r_filterbox {
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content:center;
}

.r_filter_button {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0 0;
  color: var(--div_font);
  border: none;
  background: none;
}

.r_show_more_button {
  font-family: inherit;
  text-decoration-line: underline;
  padding: 0 0;
  color: var(--div_edge);
  border: none;
  background: none;
}

.r_filterbox div{
  margin-right: 1.5rem;
}

.r_rhyme_box div {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 0.6rem;
  min-width: 11rem;
}

.r_rhyme_box div b {
  color: var(--stress_letter);
}

/* Deprecated
.r_rhyme_box_devider {
  height: 3.5em;
  width: 50%;
  margin: 0 auto;
} */

details summary::-webkit-details-marker {
  display: none;
}

.r_loading {
  text-align: center;
}

.r_ck_container {
  position: sticky;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  bottom: 10px;
  left: 10px;
  padding: 0.5em;
  width: 35vw;
}

.r_ck {
  border: 1px solid azure;
  padding: 0.5em;
  color: #fff;
}

.r_ck a {
  color: #ddd;
}

.r_ck a:hover {
  color: #fff;
}

.r_ck_btn_section {
  display: flex;
  justify-content: space-between;
}

.r_ck_btn_section a,
.r_ck_btn_section button {
  flex-grow: 1;
  width: 100%;
}

.r_ck_btn {
  font-size: 1.2rem;
  font-family: inherit;
  color:#000;
  border: none;
  width: auto;
  background-color: var(--stress_letter);
}

.r_ck_btn_dark {
  color:#fff;
  border: 2px solid white;
  background-color: #000;
}

.r_ck_btn:hover, .r_ck_btn_dark:hover {
  background-color: var(--logo_light);
  color:#000;
}

.r_ck_btn:active, .r_ck_btn_dark:active {
  background-color: var(--logo_dark);
  color:#fff;
}

.r_ck_btn_l {
 margin-right: 0.4rem;
}

.r_ck_btn_mid {
  margin: 0 0.4rem;
}

.r_ck_btn_r {
  margin-left: 0.4rem;
}

.r_scroll_to_top {
  display: none;
  position: fixed;
  overflow: hidden;
  background: var(--div_plane);
  cursor: pointer;
  border-radius: 100%;
  width: calc(3.3rem + 3.7vw);
  height: calc(3.3rem + 3.7vw);
  bottom: calc(0.2rem + 0.3vw);
  right: calc(0.35rem + 0.6vw);
  padding: calc(0.2rem + 0.4vw);
  animation: r_scroll_btn_up 0.24s ease-out 1;
  -webkit-box-shadow: 0 0 0 0.1rem var(--div_edge) inset;
  -moz-box-shadow: 0 0 0 0.1rem var(--div_edge) inset;
  box-shadow: 0 0 0 0.1rem var(--div_edge) inset;
}

.r_scroll_to_top img {
  width: 100%;
  height: auto;
  /* background-color: var(--div_edge); */
  -webkit-filter: invert(var(--r_invert_black));
  filter: invert(var(--r_invert_black));
}

@keyframes r_scroll_btn_up {
  from {transform: translate(0, calc(4.8rem + 4vw));}
  to {transform: translate(0);}
}

@keyframes r_scroll_btn_down {
  from {transform: translate(0);}
  to {transform: translate(0, calc(4.8rem + 4vw));}
}


@media screen and (max-width: 1290px) {
  .r_article {
    width: 952px;
  }
}

@media screen and (max-width: 1024px) {
  .r_ck_container {
    width: 100%;
    bottom: 0;
    font-size: 0.84rem;
  }
  .r_article {
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .logo_block {
    padding: 0 auto;
  }
  main {
    width: 100%;
  }
  .r_rhyme_box div {
    min-width: 7rem;
  }
  .r_ck_container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .r_ck_btn_section {
    flex-direction: column-reverse;
  }
  .r_ck_btn_l {
    margin: 0.25rem 0 0 0;
  }
  .r_ck_btn_mid {
    margin: 0;
  }
  .r_ck_btn_r {
    margin: 0 0 0.25rem 0;
  }
}